[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/soil"]
	path = external/soil
	url = https://github.com/SiddhantRanade/soil.git
[submodule "external/QuesoGLC"]
	path = external/QuesoGLC
	url = https://github.com/ranadeag/QuesoGLC.git
